// Основной цвет.
$main-color: #1C1B22;
$main-color-hover: #100F14;

// Вторичный цвет.
$secondary-color: #EDEEF0;
$secondary-color-hover: #FFFFFF;

$third-color: #017BFF;
$fourth-color: #DC3545;
$fifth-color: #27cb00;
